body {
  /* Maximum height of what is visible */
  height: 100vh;   
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#notes {
  flex-grow: 0.5;
  border-style: solid;
  display: grid;
  grid-template-rows: repeat(30, 100px)
}

#notes > div, #notes > form {
  padding: 7px;
}
#timetable {
  flex-grow: 1;
  border-style: solid;
}